

.productdetailWrapper {
    display: flex;
    justify-content: center;
    width: 100%;
    padding: 20px 20px;
}

.productImage {
    border: 1px solid #ffffff48;
    width: 45%;
    display: flex;
    justify-content: center;
}

.productDetails {
    border: 1px solid #ffffff8e;
    width: 45%;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.productImages {
    width: 35vw;
    height: 400px;
    object-fit: cover;
    border-radius: 5px;
    margin-top: 40px;
}

.detailsBlock1 {
    border-bottom: 1px solid rgba(0, 0, 0, 0.384);
}

.detailsBlock1 h4 {
    font-weight: 600;
}

.detailsBlock1 p {
    color: rgb(109, 109, 109);
}

.detailsBlock2 {
    display: flex;
    align-items: center;
    gap: 20px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.384);
    padding: 20px 0;
}

.detailsBlock3 h3 {
    margin: 20px 0;
}

.detailBlock3-1 {
    display: flex;
    align-items: center;
    gap: 20px;
    margin: 40px 0;
    border-bottom: 1px solid rgba(0, 0, 0, 0.384);
    padding-bottom: 30px;
}

.detailBlock3-1-1 button {
    padding: 1vw 1.5vw;
    border: 0;
    outline: 0;
    cursor: pointer;
    color: #fff;
    background-color: #333;
}

.detailBlock3-1-1 input {
    width: 40px;
    height: 50px;
    border: 0;
    outline: 0;
    padding-left: 15px;
}

.detailBlock3-1-2 button {
    padding: 1vw 3vw;
    border-radius: 30px;
    border: 0;
    outline: 0;
    font-weight: 600;
    color: #fff;
    background-color: tomato;
    transition: 0.5s;
}

.detailBlock3-1-2 button:hover {
    background-color: rgb(253, 77, 46);
}

.detailsBlock4 button .detailBlock3-2 {
    border-bottom: 1px solid rgba(0, 0, 0, 0.384);
}

.detailBlock3-2 h5 {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin: 10px 0;
    font-size: 18px;
}

.outofstock {
    color: rgb(175, 32, 32);
}

.instock {
    color: rgb(0, 150, 0);
}

.detailsBlock4 {
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.detailsBlock4 p {
    font-size: 18px;
    text-align: center;
}

.detailsBlock4 button {
    padding: 1vw 3vw;
    border-radius: 30px;
    border: 0;
    outline: 0;
    font-weight: 600;
    color: #fff;
    background-color: tomato;
    transition: 0.5s;
}

.detailsBlock4 button:hover {
    background-color: rgb(253, 77, 46);
    transform: scale(1.1);
}

.chatSystem {
    height: 100px;
    width: 100px;
    border-radius: 50%;
    background-color: red;
}

@media screen and (max-width: 900px) {
    .productImages {
        height: 300px;
    }
}

@media screen and (max-width: 750px) {

    .productdetailWrapper {
        flex-direction: column;
        align-items: center;
    }

    .productImage {
        width: 600px;
        height: 400px;
        padding: 20px;
    }

    .productDetails {
        width: 80%;
        align-items: center;
        border-top: none;
    }

    .detailBlock3-1 {
        flex-direction: column;
    }

    .detailBlock3-1-1 input {
        height: 7vh;
    }

    .detailsBlock4 {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .detailsBlock1 {
        text-align: center;
    }

    .detailsBlock2 {
        display: flex;
        flex-direction: column;
        width: 250px;
    }

    .detailsBlock3 {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .detailBlock3-1 {
        margin: 20px 0;
    }

    .detailsBlock3 h3 {
        margin-bottom: 0;
    }

    .detailBlock3-1-2 button {
        font-size: 10px;
        width: 50vw;
        padding: 10px 0;
    }

    .detailBlock3-2 {
        width: 250px;
        text-align: center;
    }

    .detailsBlock4 button {
        font-size: 10px;
        width: 50vw;
        padding: 10px 0;
    }
}

@media screen and (max-width: 650px) {
    .productImages {
        width: 300px;
    }
}

@media screen and (max-width: 550px) {
    .productImages {
        width: 60vw;
        height: 50vw;
    }

    .detailBlock3-1-1 input {
        height: 6vh;
    }

    .detailsBlock4 {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}

.reviewsTop {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.reviewsTop h1 {
    border-bottom: 2px solid rgba(128, 128, 128, 0.63);
}

.norev {
    text-align: center;
}