.footerWrapper {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    background-color: rgba(0, 0, 0, 0.842);
    color: #fff;
    font-family: "Roboto", "sans-serif";
}

.footerleft {
    margin-left: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
}

.footerleft h4 {
    font-size: 20px;
}

.footerleft p {
    font-weight: 600;
    margin: 15px 0;
}

.footerleft span img {
    display: block;
    margin-bottom: 20px;
    border-radius: 10px;
}

.footermiddle {
    text-align: center;
    margin-bottom: 30px;
}

.footermiddle h1 {
    color: red;
}

.footermiddle p {
    margin: 15px 0;
}

.footermiddle h6 {
    font-size: 13px;
    margin: 15px 0;
}

.footerright {
    margin-right: 40px;
    text-align: center;
    margin-bottom: 30px;
}

.footerright a {
    font-size: 25px;
    color: #fff;
}

.footerright li {
    list-style: none;
    margin-top: 10px;
}

.footerright li a {
    text-decoration: none;
    font-size: 18px;
}