.mainWrapper {
    min-height: 100vh;
    background: linear-gradient(#6665DD, #3E2F5B);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #fff;
    font-family: "Roboto", "sans-serif";
    clip-path: polygon(0 0, 100% 0, 100% 71%, 0% 100%);
}

.mainWrapper a {
    border: 2px solid white;
    padding: 10px 30px;
    color: #fff;
    text-decoration: none;
    position: relative;
    z-index: 1;
    transition: 0.5s;
}

.mainWrapper a:hover {
    color: black;
}

.mainWrapper a::after {
    content: "";
    position: absolute;
    background-color: #fff;
    left: 0;
    top: 0;
    z-index: -1;
    height: 100%;
    width: 0;
    transition: 0.5s;
}

.mainWrapper a:hover::after {
    width: 100%;
}

.mainWrapper h1 {
    margin: 20px 0;
}

.scrolll{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}