.page2Wrapper {
    margin: 40px 0;
    font-family: "Roboto", "sans sarif";
}

.featured {
    display: flex;
    justify-content: center;
}

.featured h3 {
    font-size: 25px;
    position: relative;
    color: rgba(0, 0, 0, 0.699);
}

.featured h3::after {
    content: "";
    position: absolute;
    bottom: -5px;
    left: 0;
    height: 3px;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.479);
}

.productContainer {
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
    margin-top: 40px;
    padding: 50px 150px;
}